<script src='https://{{ pin_host }}/pin.js' type='text/javascript'></script>
<script src='{{ STATIC_URL }}pinpayments/js/pinform.js' type='text/javascript'></script>
<script type='text/javascript'> Pin.setPublishableKey('{{ pin_public_key }}'); </script>
